    .top10 { margin-top: 10px;}
    .container { max-width: 888px; border: 1px solid #c6c6c6; background-color: white;}
    .listbut { max-width: 100px;}
    .centersmall { text-align: center;}
    body { background-color: #f2f2f2; }
    @media(min-width:768px)
    { 
      .centersmall { text-align: left;}
    }
    .mytest { border: 1px solid red;}
    .mylogo { font-size: 24px; color: grey; padding-bottom: 10px;}
    H1 { font-size: 16px; color: grey;}
    
    .navbar { border: 0px;}
    .navbar-default { border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7;}

    .navbar-default { background-color: white;}
    .navbar-nav>li>a { padding-right: 40px; font-size: 16px;}
    